{% extends "navbar.html" %}
{% block upcontent %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--Bootstrap-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <!--CSS-->
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
    </head>
    <body>
{% endblock %}

{% block downcontent %}
        {% if error %}
        {{error}}
        <br>
        <br>
        {% endif%}
        
        <form action="{% url 'signup' %}" method="POST">
            {% csrf_token %}
            Username:
            <input name="username" type="text" value="">
            <br>
            Password:
            <input name="password1" type="password" value="">
            <br>
            Confirm Password:
            <input name="password2" type="password" value="">
            <br>
            <br>
            <input class="btn btn-primary" type="submit" value="sign up">
        </form>
    </body>
</html>
{% endblock %}

