{% extends "navbar.html" %}
{% block upcontent %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--Bootstrap-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <!--CSS-->
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
    </head>
    <body>   
{% endblock %}

{% block downcontent %}
        <div class="container-fluid">
            <div class="row">
                <form class="search" action="{% url 'home' %}" method="GET">
                    <input type="text" name="search">
                    <button class="btn btn-outline-secondary" type="submit">검색</button>
                </form>
            </div>
        </div>

 
    </body>
</html>
{% endblock %}