{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--Bootstrap-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <!--CSS-->
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
    </head>
    <body>   
        <div class="container-fluid" id="title-container">
            <div class="row" id="navbar">
                <a class='nav-item' href="{% url 'home'%}" style="margin: 1% 0.5% 1% 2%" >Home<span></span></a>
            
                {% if user.is_authenticated %}
                환영합니다. {{user.username}} 님!
                <a class='nav-item' href="{% url 'new' %}" >글쓰기<span></span></a>

                <a class='nav-item' href="{% url 'mypage' %}">마이페이지<span></span></a>
                <a class='nav-item' href="javascript:{document.getElementById('logout').submit()}">로그아웃<span></span></a>
                <form id="logout" method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <input type="hidden">
                </form>
                {% else %}
                <a class='nav-item' href="{% url 'signup'%}">회원가입<span></span></a>
                <a class='nav-item' href="{% url 'login'%}">로그인<span></span></a>
                {% endif %}
            </div>
            <div class="row">
                <div id="main-title">일베 용어 사전</div>
                <div class="w-100"></div>
                <div id="describe">일베 용어 설명해주는 어저구</div>
            </div>
        </div>
        

        <div class="container-fluid">
            <div class="row">
                <form class="search" action="{% url 'home' %}" method="GET">
                    <input type="text" name="search">
                    <button class="btn btn-outline-secondary" type="submit">검색</button>
                </form>
            </div>
        </div>

        {%if check %}

        <div class="container-fluid">
            <div class="row">
                {% for word in words.all %}
                <div class="col-sm-3 card">
                    <div class="title">{{word.title}}</div>
                    <div class="date">{{word.pup_date}}</div>
                    <div class="summary">{{word.summary}}</div>
                    <a class="link" href="{% url 'detail' word.id%}">....더보기</a>
                    <a class="link" href="{% url 'delete' word.id %}"> 삭제</a>
                    <a class="link" href="{% url 'edit' word.id %}"> 수정</a>
                </div>
                {% endfor %}
            </div>
        </div>

        {% else %}
            {% if empty %}
                {{empty}}
            {% else %}
            <div class="container-fluid">
            <div class="row">
                {% for result in results.all %}
                <div class="col-sm-3 card">
                    <div class="title">{{result.title}}</div>
                    <div class="date">{{result.pup_date}}</div>
                    <div class="summary">{{result.summary}}</div>
                    <div class="link"><a href="{% url 'detail' result.id%}">....더보기</a></div>
                    <div class="link"><a href="{% url 'delete' result.id %}"> 삭제</a></div>
                    <div class="link"><a href="{% url 'edit' result.id %}"> 수정</a></div>
                </div>
                {% endfor %}
            </div>
        </div>
            {% endif %}
        {% endif %}
        
    </body>
</html>
