{% block upcontent %}{% endblock %}
<div class="container-fluid" id="title-container">
    <div class="row" id="navbar">
        <a class='nav-item' href="{% url 'home'%}" style="margin: 1% 0.5% 1% 2%" >Archive<span></span></a>
        <a class='nav-item' href="{% url 'about'%}" style="margin: 1% 0.5% 1% 2%" >About<span></span></a>
        {% if user.is_authenticated %}
        <a class='nav-item' href="{% url 'new' %}" >글쓰기<span></span></a>
        <a class='nav-item' href="{% url 'mypage' %}">마이페이지<span></span></a>
        <a class='nav-item' href="javascript:{document.getElementById('logout').submit()}">로그아웃<span></span></a>
        <form id="logout" method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <input type="hidden">
        </form>
        <div id="user">환영합니다. {{user.username}} 님!</div>
        {% else %}
        <a class='nav-item' href="{% url 'signup'%}">회원가입<span></span></a>
        <a class='nav-item' href="{% url 'login'%}">로그인<span></span></a>
        {% endif %}
    </div>
    <div class="row">
        <div id="main-title"><a href="{% url 'main'%}">그뉴레터</a></div>
        <!--div class="w-100"></div-->
        <div id="describe">Growth Newsletter</div>
    </div>
</div>
{% block downcontent %}
{% endblock %}