/* 폰트 적용 */
@font-face { 
    font-family: 'Nanum-B';
    src: local('Nanum-B'), url('../font/NanumSquareB.ttf');
}
@font-face { 
    font-family: 'Nanum-EB';
    src: local('Nanum-EB'), url('../font/NanumSquareEB.ttf');
}
@font-face { 
    font-family: 'Nanum-L'; 
    src: local('Nanum-L'), url('../font/NanumSquareL.ttf');
}
@font-face { 
    font-family: 'Nanum-R'; 
    src: local('Nanum-R'), url('../font/NanumSquareR.ttf');
}

/* 페이지 공통 */
body{
    background-color : #FFFFFF;
    overflow-x : hidden;
}

a {text-decoration: none;}

a:link {text-decoration: none;}
a:visited {text-decoration: none; }
a:active {text-decoration: none; }
a:hover {text-decoration: none; }


/*navbar*/
.nav-item{
    font-family: "Nanum-B";
    color: #FFFFFF;
    font-size: 15px;
    margin: 1% 0.5% 1%;
     
}

/* title */
#title-container{
    background-color: #00462A;
}
#main-title{
    font-family : 'Nanum-EB';
    font-size: 40px;
    color: #FFFFFF;
    text-align: center; 
    width:100%;
    margin: 1% 0% 1%
}
#describe{
    font-family : 'Nanum-B';
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    width:100%;
    margin: 1% 0% 3%
}

#user{
    font-family: "Nanum-B";
    color: #FFFFFF;
    font-size: 15px;
    padding: 1% 1% 1%;
}

/*detail*/
.detail{
    background-color: #efefef;
    margin: 10% 10% 10%;
    border-radius: 10px;
}

.title{
    font-family : 'Nanum-EB';
    font-size: 25px;
    text-align: center;
    padding: 4% 5% 4%;
}
.date{
    font-family : 'Nanum-R';
    font-size: 15px;
    text-align: right;
    padding: 1% 2% 1% 1%;
}

.body{
    font-family : 'Nanum-B';
    font-size: 20px;
    text-align: center;
    padding:3% 2% 2% 2%;
}

.link{
    font-family : 'Nanum-B';
    font-size: 17px;
    text-align: center;
    padding: 3% 0% 3%;
}
