/* 폰트 적용 */
@font-face { 
    font-family: 'Nanum-B';
    src: local('Nanum-B'), url('../font/NanumSquareB.ttf');
}
@font-face { 
    font-family: 'Nanum-EB';
    src: local('Nanum-EB'), url('../font/NanumSquareEB.ttf');
}
@font-face { 
    font-family: 'Nanum-L'; 
    src: local('Nanum-L'), url('../font/NanumSquareL.ttf');
}
@font-face { 
    font-family: 'Nanum-R'; 
    src: local('Nanum-R'), url('../font/NanumSquareR.ttf');
}

/* 페이지 공통 */
body{
    background-color : #FFFFFF;
    overflow-x : hidden;
}

a {text-decoration: none;}

a:link {text-decoration: none;}
a:visited {text-decoration: none; }
a:active {text-decoration: none; }
a:hover {text-decoration: none; }


/*navbar*/
.nav-item{
    font-family: "Nanum-B";
    color: #FFFFFF;
    font-size: 15px;
    margin: 1% 0.5% 1%;
     
}

#title-container{
    background-color: #00462A;
}
#main-title{
    font-family : 'Nanum-EB';
    font-size: 40px;
    color: #FFFFFF;
    text-align: center; 
    width:100%;
    margin: 1% 0% 1%
}
#describe{
    font-family : 'Nanum-B';
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    width:100%;
    margin: 1% 0% 3%
}

#user{
    font-family: "Nanum-B";
    color: #FFFFFF;
    font-size: 15px;
    padding: 1% 1% 0%;
}

/*용어*/
.card{
    background-color: #efefef;
    margin: 3.7% 4.1% 3.7%;
    border:0px;
    padding: 1.3% 1.3% 1.3% 1.3%;
}
.title{
    font-family : 'Nanum-EB';
    font-size: 20px;
    text-align: center;
}

.date{
    font-family : 'Nanum-R';
    font-size: 12px;
    text-align: right;
}

.summary{
    font-family : 'Nanum-B';
    font-size: 15px;
}

.link{
    font-family : 'Nanum-B';
    font-size: 13px;
    color:#000000;
}

/*검색창*/
.search{
    margin: 2% 40% 1% 40%;
}
